* {
    font-family: 'Courier New', 'Courier', 'monospace';
    background-color: #111111;
    color: antiquewhite;
  }
  
  #calculator {
    background-color: grey;
    width: 250px;
    margin: 50px auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #display {
    width: autopx;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 24px;
    text-align: right;
  }
  
  #keys {
    margin: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }